
/* Completely random CSS */

html {
  background: none;
}

body {
  background-image:url(http://datacommons.find.coop/sites/default/files/dcc_bg.png);
  border: 1px solid #ddd;
  font-family: "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  margin: 20px auto;
  padding: 20px;
  width: 940px;
}

img {
  vertical-align: middle;
}

img + div {
  border-left: 1px dotted #aaf;
  border-bottom: 1px dotted #aaf;
  margin-bottom: 5px;
  padding: 5px;
}

div em {
  font-weight: bold;
  color: #225;
}

h1,h2,h3 {
  font-family: 'Droid Serif', serif;
}

h1 {
  color: #000;
  display: block;
  font-family: 'Droid Serif', serif;
  font-size: 3.692em;
  font-weight: normal;
  margin: 0 0 0.2em; 
  padding: 0 0 15px 0;
}

h2 {
  color: black;
  display: block;
  font-family: 'Droid Serif', serif;
  font-size: 1.8em;
  font-weight: normal;
}

h2:after {
  content: " :";
  color: #fff;
}

.changes {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
