---
title: Data Commons Cooperative
layout: default
top: true
---

{% include intro.html %}

<h2>Recent posts</h2>
<div class="section">

<ul class="index">
{% for post in site.posts limit:3 %}
{% unless post.draft %}
    <li>
      <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }} ({{post.date | date: "%B %Y"}})</a></h3>
    </li>
{% endunless %}
{% endfor %}
</ul>
</div>

{% for post in site.posts limit:3 %}
{% unless post.draft %}
  {{ post.content }}
{% endunless %}
{% endfor %}

<h2>Older posts</h2>

<div class="section">
<ul class="index">
  {% for post in site.posts offset:3 %}
    <li>
      <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }} ({{post.date | date: "%B %Y"}})</a></h3>
    </li>
  {% endfor %}
</ul>
</div>

{% if false %}
{% assign drafts = site.posts | where:"draft",true %}

{% if drafts %}
<h2>Drafts</h2>

<ul class="index">
  {% for post in drafts %}
    <li>
      <h3><a class="draft" href="{{site.baseurl}}{{ post.url }}">{{ post.title }} ({{post.date | date: "%B %Y"}})</a></h3>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endif %}
