---
title: Data Commons Cooperative
layout: default
top: true
---


<div class="section">
<h2>Latest post</h2>

<ul class="index">
{% for post in site.posts limit:1 %}
{% unless post.draft %}
    <li>
      <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }} ({{post.date | date: "%B %Y"}})</a></h3>
    </li>
{% endunless %}
{% endfor %}
</ul>
</div>

{% include pitch.html %}

{% for post in site.posts limit:1 %}
{% unless post.draft %}
{% if post.simple %}
<h1>{{post.title}}</h1>
<div class="section">
{% else %}
<h1>{{post.title}}</h1>
{% endif %}
  {{ post.content }}
{% if post.simple %}
</div>
{% endif %}
{% endunless %}
{% endfor %}


<div class="section">
<h2>Previous posts</h2>

<ul class="index">
{% for post in site.posts limit:3 offset:1 %}
{% unless post.draft %}
    <li>
      <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }} ({{post.date | date: "%B %Y"}})</a></h3>
    </li>
{% endunless %}
{% endfor %}
</ul>
</div>

{% for post in site.posts limit:3 offset:1 %}
{% unless post.draft %}
{% if post.simple %}
<h1>{{post.title}}</h1>
<div class="section">
{% else %}
<h1>{{post.title}}</h1>
{% endif %}
  {{ post.content }}
{% if post.simple %}
</div>
{% endif %}
{% endunless %}
{% endfor %}


<h2>Older posts</h2>

<div class="section">
<ul class="index">
  {% for post in site.posts offset:3 %}
    <li>
      <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }} ({{post.date | date: "%B %Y"}})</a></h3>
    </li>
  {% endfor %}
</ul>
</div>

{% if false %}
{% assign drafts = site.posts | where:"draft",true %}

{% if drafts %}
<h2>Drafts</h2>

<ul class="index">
  {% for post in drafts %}
    <li>
      <h3><a class="draft" href="{{site.baseurl}}{{ post.url }}">{{ post.title }} ({{post.date | date: "%B %Y"}})</a></h3>
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endif %}

<h2>Want updates? Subscribe to our newsletter</h2>

<form action="http://sendy.find.coop/subscribe" method="POST" accept-charset="utf-8">
	<label for="name">Name</label><br/>
	<input type="text" name="name" id="name"/>
	<br/>
	<label for="email">Email</label><br/>
	<input type="text" name="email" id="email"/>
	<br/>
	<input type="hidden" name="list" value="UR6ytUtiS2gFu8s0eYyHKA"/>
	<input type="submit" name="submit" id="submit"/>
</form>
