html, body { 
  background: url('http://datacommons.find.coop/sites/default/files/dcc_bg.png');
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Droid Serif'; 
  font-style: normal; 
  font-weight: normal; 
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

#header {
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

#content { 
  padding: 20px;
}

.logo {
  display: block;
  background: url(http://datacommons.find.coop/sites/default/files/dc_logo_quilt_960_0.png);
  height: 82px;
}

ul.index {
  list-style-type: none;
  padding: 0px;
  margin: 0px;  
}

ul.index li {
}

ul.index li a {
  display: block;
  max-width: 300px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  background: white;
  border: 1px solid white;
}

ul.index li a:hover {
  border: 1px solid green;
  background: url('http://datacommons.find.coop/sites/default/files/dcc_bg.png');
}

#header a {
  color: black !important;
}

#footer a {
  color: black !important;
}

img.show {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.edit {
  text-align: right;
  font-style: italic;
}

.edit a {
  color: #888;
}

.draft-alert { 
  padding: 20px;
  margin: 20px;
  background: #888;
  color: #fff;
  border-radius: 20px;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif; 
  text-shadow: 0px 0px 5px black;
}

.changes, .section {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.author {
  text-align: right;
  font-style: italic;
}
