
    <div class="changes" id="rep-cds">

<h2>Cooperative Directory Service, <a href="http://coopdirectory.org">coopdirectory.org</a></h2>


    <p>The Coop Directory Service is an online source of information about natural food co-ops and buying clubs. It is is dedicated to the memory of Kris Olsen (1946-1998) and his life-long effort to introduce people to natural food co-ops and assist them in starting buying clubs.</p>


<p>There are 427 entries in this directory.</p>


<h3>Recent additions</h3>

<ul>

  <li><b><a href="http://coopdirectory.org/directory.htm#Florida_Homegrown_Local_Food_Cooperative">Homegrown Local Food Cooperative, Florida</a></b>
  
  - We are an online farmers market with weekend order pickup.
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Pennsylvania_Doylestown_Food_Co-op">Doylestown Food Co-op, Pennsylvania</a></b>
  
  - Our community-based grocery store will provide convenient, year-round access to healthy, fresh, local, and organic products. We will work closely with our local producers and incorporate the feedback of our members in developing and designing our store and co-op community.  As we grow, we will look forward to creating our full service, vision store!
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Minnesota_Minnesota_Street_Market">Minnesota Street Market, Minnesota</a></b>
  
  - In 1899, Martin Loso opened the doors to his General Store and Harness Shop at 25 Minnesota Street.  After 110 years Loso’s regrettably closed its doors.  The Minnesota Street Market, a cooperatively owned store, sells local food and local art in the former Loso’s store in downtown St. Joseph, MN.
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Indiana_City_Foods_Co-op">City Foods Co-op, Indiana</a></b>
  
  - Incorporated in 2008, City Foods opened their doors of a brick and mortar store in 2013.
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Connecticut_Big_Deal_Food_Co-op">Big Deal Food Co-op, Connecticut</a></b>
  
  -  We are a not-for-profit buying club for organic and natural products. Accepting members from anywhere but you must be able to pick up your order in East Hampton, CT every 2 or 4 weeks.
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Washington_Our_Farm_Community">Our Farm Community, Washington</a></b>
  
  - We designed this program to create a socially just way to allow more people to afford fresh and chemical-free organic food.
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#North_Carolina_Cooley_Farm">Cooley Farm, North Carolina</a></b>
  
  - Cooley Farm is a permaculture farm dedicated to the healing of mind, body, and spirit for the individual as well as the Earth and Her communities. As a sustainable polyculture farm we strive towards greater awareness concerning the eco-community as well as providing wholesome foods, grown organically in an educational &amp; nurturing environment. This year [2014] we're starting a Pick Your Own produce coop. The cooperation here is You tell us what you want to be on your table, we grow it. Any suggestions appreciated. You can look forward to some time in the sun out in the country with your family &amp; friends getting the freshest fruits, veggies and herbs grown naturally. We grow only with nature's fertilizers, so pesticide is out of the question for food to be eaten when eating is for life prolongment &amp; fulfillment. For basics, we are rowing corn, beans and squash in the three sisters method; watermelons and cantaloupes, strawberries, and of course tomatoes grown with basil.
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Alabama_MannaMarket_Organic_CO-OP_and_Food_Hub">MannaMarket Organic CO-OP and Food Hub, Alabama</a></b>
  
  - We are a grower and we run and Organic CO-OP and Food Hub located in Pelham Alabama. We distribute from 2600 Cherokee Place in Mt. Brook, Ala 35216. We work with other growers in the SE and Nation to become GAP Certified and or Organic Certified and to get their products to market or to a CO-OP.
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Arizona_Organic_Wholesale_Feed,_Grain_and_Flour_Buyers">Organic Wholesale Feed, Grain and Flour Buyers' Club, Arizona, Arizona</a></b>
  
  - We buy organic feed, grain and flour at wholesale prices every two months in Phoenix Arizona area and pass the savings on to our members. We are accepting new members at no cost.  We save between $8-15 per 50lb bag of product.
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Florida_Abundant_Organic_&amp;_Naturals_Co-op">Abundant Organic &amp; Naturals Co-op, Florida</a></b>
  
  - Our order days are Sunday - Monday 11:59 PM CST and pick-up is Wednesday 11am-1pm &amp; 3pm-6pm (as of Feb 2014)
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Colorado_Demeter">Demeter's Market, Colorado</a></b>
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#South_Carolina_Inman_Feed_Mill_Food_Coop">Inman Feed Mill Food Coop, South Carolina</a></b>
  
  - We are an old country feed mill providing animal feed as well as nutritious human food for our coop customers.
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Maine_Market_Street_Co-Op">Market Street Co-Op, Maine</a></b>
  
  </li>

</ul>




<h3>Recently reported closures</h3>


<ul>

  <li><b><a href="http://coopdirectory.org/directory.htm#Wisconsin_Nature">Nature's Pantry Food&nbsp; Co-op, Wisconsin</a></b>
  
  - Reported (in 2014) as closed for a while (thanks Kristine!)
  
  </li>

  <li><b>Homegrown Organic Local Food Co-op, Florida</b>
  
  </li>

</ul>




<h3>Recent updates</h3>

<ul>

  <li><b><a href="http://coopdirectory.org/directory.htm#Colorado_Boulder_Co-op_Market">Boulder Co-op Market, Colorado</a></b>
  <ul>
  
    
    
       
          <li>CompanyName: Bolder Co-op Market → Boulder Co-op Market</li>
       
    
    
  
  
  </ul>
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Minnesota_Spiral_Natural_Foods_Co-op_&amp;_Grocery">Spiral Natural Foods Co-op &amp; Grocery, Minnesota</a></b>
  <ul>
  
    
    
       
          <li>CompanyName: Spiral Food Co-op → Spiral Natural Foods Co-op &amp; Grocery</li>
       
    
    
  
    
    
  
    
    
  
    
    
       
          <li>Address: 307 E 2nd Street → 1250 South Frontage Road</li>
       
    
    
  
    
    
       
       <li>FaxNumber: removed</li>
       
    
    
  
    
    
       
          <li>Web Address: <a href="www.spiralnaturalfoods.coop">www.spiralnaturalfoods.coop</a></li>
       
    
    
  
    
    
       
          <li>Email Address: <a href="mailto:'spiralfoodsmarketing@yahoo.com'">spiralfoodsmarketing@yahoo.com</a></li>
       
    
    
  
  
  </ul>
  </li>

</ul>


</div>
    <div class="changes" id="rep-findcoop">

<h2>Stone Soup Directory, <a href="http://find.coop">find.coop</a></h2>


    <p>This is a directory developed by the DCC to serve those who don't have their own directory, and to pool listings between communities that permit that.</p>


<p>There are 6074 entries in this directory.</p>


<h3>Recent additions</h3>

<ul>

  <li><b><a href="http://find.coop/organizations/6115">Metro Pedal Power</a></b>
  
  - Last mile distribution and delivery via pedal-powered vehicles. We work with values of ecological consciousness, voluntary association, and resilient community.
  
  </li>

  <li><b><a href="http://find.coop/organizations/6116">The Blissful Bite LLC</a></b>
  
  - The Blissful Bite is all about Om-Style Cookin'! We're a worker-owned mobile kitchen preparing organic, healthy, and delicious, internationally-inspired foods - that is, food you love that loves you back!

We believe in being mindful about our ingredients and process to ensure that the food is as nourishing as it is tasty. It is the act of honoring the food, its origin, and all of the beautiful beings that eat it that turns an ordinary bite into a Blissful Bite. 
  
  </li>

  <li><b><a href="http://find.coop/organizations/6117">Cooperation Texas</a></b>
  
  - Founded in October 2009 in response to growing economic inequality, Cooperation Texas (formerly known as Third Coast Workers for Cooperation) is an Austin-based non-profit committed to the creation of sustainable jobs through the development, support and promotion of worker-owned cooperatives. We believe everyone deserves equal access to dignified employment, which is why we place those most directly affected by social and economic inequality at the center of our work.

Cooperation Texas is the only worker cooperative development center in Texas. We provide education, training and technical assistance to existing and start-up worker cooperatives in all sectors of the economy, helping launch and strengthen businesses across Texas that put people and the planet first.  
  
  </li>

  <li><b><a href="http://find.coop/organizations/6118">Manna Market Organic CO-OP &amp; Food Hub</a></b>
  
  - We operate a Food Hub and CO-OP listed on the USDA AMS Web Site. We operate as a Purchasing/Shared Services Cooperatives which is owned and governed by independent 
business owner(s)and we have many CO-OP Members that band 
together to enhance purchasing power, lowering costs and improving competitiveness and our ability to provide quality services. We offer many products to the CO-OP Membership and to the general public. We deliver as well to School, Restaurants and Businesses and we as to residences.
  
  </li>

  <li><b><a href="http://find.coop/organizations/6119">Great Sky Solar</a></b>
  
  - Great Sky Solar is a mission based worker-owned and democratically operated solar installation co-op dedicated to the following propositions: 1.) Building a foundation of clean, renewable energy is the safe, sane, responsible path for humanity, the right thing to emphasize for the USA in particular (a known climate change laggard in the international community), and a force to strengthen the resilience of local Massachusetts communities, 2.) Transforming toxic capitalism through workplace democracy and Social Benefit Corporation legislation is a critical way to change our current system into one that benefits a greater number of people currently struggling to get by, 3.) Successfully competing in today’s marketplace (through extremely high quality PV installations and uncommonly top-notch customer service practices) against traditionally structured companies will give us currency and authority to name the problems in our current economy and lead by example for a better world.
  
  </li>

</ul>






<h3>Recent updates</h3>

<ul>

  <li><b><a href="http://find.coop/organizations/703">Center for Global Justice/Centro para la Justicia Global</a></b>
  <ul>
  
    
    
  
    
    
       
          <li>Phone: 415-150-0025 → 1 (347) 983 5084</li>
       
    
    
  
    
    
       
          <li>Email: info@globaljusticecenter.org → <a href="mailto:'admin@globaljusticecenter.org'">admin@globaljusticecenter.org</a></li>
       
    
    
  
    
    
  
  
  </ul>
  </li>

  <li><b><a href="http://find.coop/organizations/4940">The JED Collective</a></b>
  <ul>
  
    
    
  
    
    
       
       <li>Website: removed</li>
       
    
    
  
    
    
  
  
  </ul>
  </li>

</ul>


</div>
    <div class="changes" id="rep-cfne">

<h2>Cooperative Fund of New England, <a href="http://www.cooperativefund.org">www.cooperativefund.org</a></h2>


    <p>CFNE provides the DCC a (filtered) listing of their borrowers on a yearly basis for archival purposes. You can find the raw listings on <a href="https://data.find.coop">data.find.coop</a>.  This information is also available in much prettier form <a href="http://www.cooperativefund.org/cfne-borrowers">on their website</a>.</p>


<p>There are 119 entries in this directory.</p>


<h3>Recent additions</h3>

<ul>

  <li><b>ANDCO, Swanton, VT</b>
  
  </li>

  <li><b>Associated Grocers of New England, Pembroke, NH</b>
  
  </li>

  <li><b>A Yard and a Half Landscaping Cooperative, Inc., Waltham, MA</b>
  
  </li>

  <li><b>Hanover Food Coop</b>
  
  </li>

  <li><b>Philmont Beautification, Philmont, NY</b>
  
  </li>

  <li><b>Portland Food Coop, Portland, ME</b>
  
  </li>

  <li><b>Spirit of 76, Medford, MA</b>
  
  </li>

  <li><b>Wellspring Upholstery Corporation, Springfield, MA</b>
  
  </li>

</ul>





</div>
    <div class="changes" id="rep-cdi">

<h2>Cooperative Development Institute, <a href="http://www.cdi.coop">www.cdi.coop</a></h2>


    <p>CDI receives requests for assistance from time to time via <a href="http://www.cdi.coop/take-action/request-assistance/">its website</a>. Requestors may give or deny permission to CDI and/or the DCC to forward their request.  Here we list recent requests for assistance from those who wish to be listed.</p>



<h3>Recent additions</h3>

<ul>

  <li><b>Wedge</b>
  
  - A Co-Op Workshop comprised of both seasoned and novice Wood workers and Metal workers offering professional grade tools, educational programming, and services.
  
  </li>

  <li><b>Neighborhood District Economic Development, Wilton</b>
  
  - NDEDC is a regional economic development corporation 501c3 supporting districtmaking activities in distressed urban areas.  We acquire, rehabilitate, hold, manage and dispose of residential and commercial property; provide TA for existing and potential small businesses and cooperatives; develop, hold, operate, acquire/stabilize and/or convey vibrant businesses and cooperatives; provide technical assistance to small businesses, district associations; develop neighborhood district-based MAs, SSDs and CDCs; provide on a district basis a full battery on economic development services and resources; advocate for policies and capital resources on the local, state and national level that support district design, development, stabilization, business retention and development, cooperatives and coworking spaces; and work to integrate active cultural programming, public art and artists into all economic and neighborhood development activities.
  
  </li>

</ul>







</div>
    <div class="changes" id="rep-hourworld">

<h2>hOurworld, <a href="http://hourworld.org">hourworld.org</a></h2>


    <p>We are a worker owned co-op. We offer free access to software for timebanks across the US (and now the UK!). We partner with local community timebanks and co-train with them. We hope to thread the time economy into the co-op economy!</p>


<p>There are 201 entries in this directory.</p>


<h3>Recent additions</h3>

<ul>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1173">Tallahassee Time Bank (FL 32303)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1184">Rushey Green Time Bank (UK SE6 4JH)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1159">About Time! Exchange (IL 60061)</a></b>
  
  </li>

  

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1174">Namaste Timebank (UK HA3 8DS)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1177">M.O.R.E. Dollar Network (MO 63107)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1166">Southcote Skill Swap (UK RG1 4RU)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1164">Hour Dollars (MN 55104)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1167">Fennville Timebank (MI 49408)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1168">TimeBank Hull and East Riding (UK HU6 7RX)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1160">North Texas Time Bank (TX 76104)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1161">Time Trader (MN 55901)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1162">Upper Valley Community Exchange (VT 05001)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1163">Rock Hour Community (WI 53536)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1165">Bridging Communities Inc (MI 48210)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1189">Nithsdale Time Bank (UK DG1 1EX)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1178">Roanoke Valley Time Exchange (VA 24018)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1170">Katesgrove Time Bank (UK RG1 4RU)</a></b>
  
  </li>

  

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1172">The Kingston Time Bank (ONTARIO CA K7L 3N6)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1175">Whitley Wood Time Bank  (UK RG1 4RU)</a></b>
  
  </li>

  

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1191">Partners in Care (MD 21122)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1180">Give  Take Time (UK LU7 1DA)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1181">The Portland Shambhala Timebank (OR 97214)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1182">Coyote Timebank (CA 94304)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1183">Time Bank Barnet (UK E5 8QJ)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1185">A2TimeBank (MI 48103)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1186">Monmouth ResourceNet Time Bank (NJ 07764)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1187">Central Coast Hour Exchange (CA 93402)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1188">Artesia Timebank (CA 90713)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1190">Stewartry Time Bank (UK DG5 4HA)</a></b>
  
  </li>

</ul>





</div>

