
    <div class="changes" id="rep-usfwc">

  
<h2>US Federation of Worker Co-ops, <a href="http://www.usworker.coop">www.usworker.coop</a></h2>


    <p>The USFWC is the U.S. national grassroots membership organization for worker cooperatives. The USFWC has made a detailed census of worker co-ops, available on <a href="https://data.find.coop">data.find.coop</a>. Here we list those co-ops marked as startups. The census has much more information, including established worker co-ops, other democratic workplaces, and co-ops at the “idea-only” stage.</p>




<h3>Co-ops tagged as start-ups</h3>


<ul>

  <li><b><a href="http://4thtap.coop">4th Tap Brewery, Austin, TX</a></b>
  
  </li>

  <li><b><a href="http://www.bookkeeping.coop">A Bookkeeping Cooperative, Brooklyn, NY</a></b>
  
  </li>

  <li><b>Alchemy Collective, Berkeley, CA</b>
  
  </li>

  <li><b>Alliance Taxi Co-op, Philadelphia</b>
  
  </li>

  <li><b><a href="http://athandapps.com/">At Hands Apps, Newton Center, MA</a></b>
  
  </li>

  <li><b><a href="http://www.aupaon.com">Au Paon Restaurant &amp; Bar, Portland, OR</a></b>
  
  </li>

  <li><b><a href="http://www.bp2.co/">BP2 Cooperative, Silver Spring, MD</a></b>
  
  </li>

  <li><b><a href="http://www.breadhive.com/">Bread Hive, Buffalo, NY</a></b>
  
  </li>

  <li><b><a href="http://broadfork.coop/">Broadfork Permaculture Cooperative, Montague, MA</a></b>
  
  </li>

  <li><b><a href="http://www.buildwithprospect.com">Build With Prospect, Inc., Brooklyn, NY</a></b>
  
  </li>

  <li><b><a href="http://www.CERO.coop">CERO (Cooperative Energy, Recycling and Organics)</a></b>
  
  </li>

  <li><b>Chicago LOOP Catering</b>
  
  </li>

  <li><b><a href="http://www.electricslides.coop">Electric Slides, New Orleans, MA</a></b>
  
  </li>

  <li><b><a href="http://www.gosolar.coop">Elk Grove Solar, Elk Grove, CA</a></b>
  
  </li>

  <li><b><a href="http://www.fertilegroundokc.com/">Fertile Ground Compost Services, Oklahoma City, OK</a></b>
  
  </li>

  <li><b><a href="http://fulllanelogistics.wordpress.com">Full Lane Logistics, Brooklyn, NY</a></b>
  
  </li>

  <li><b><a href="https://www.facebook.com/ILoveFoodCatering">I Love Food Catering, Brooklyn, NY</a></b>
  
  </li>

  <li><b>Island Employee Cooperative, Stonington, ME</b>
  
  </li>

  <li><b>Kansas City Montessori Teacher Cooperative, Kansas City, MO</b>
  
  </li>

  <li><b>MECH Creations, Chicago, IL</b>
  
  </li>

  <li><b>Mirabot, Oakland, CA</b>
  
  </li>

  <li><b>Pa’lante Forward Green Cleaning LLC, Jackson Heights, NY</b>
  
  </li>

  <li><b><a href="http://www.SolarRichmond.org/Pamoja">Pamoja Energy Solutions, Richmond, CA</a></b>
  
  </li>

  <li><b><a href="http://polycotassociates.com">Polycot Associates LLC, Austin, TX</a></b>
  
  </li>

  <li><b><a href="http://occucopy.org/">Radix Media, Brooklyn, NY</a></b>
  
  </li>

  <li><b><a href="http://restoringroots.net/">Restoring Roots Landscaping Co-op, Jamaica Plains, MA</a></b>
  
  </li>

  <li><b>Roco Mia Construction, Rockaways Beach, NY</b>
  
  </li>

  <li><b><a href="http://theilluminator.org/">The Illuminator, New York, NY</a></b>
  
  </li>

  <li><b>The Worcester Printing Cooperative Project, Worcester, MA</b>
  
  </li>

  <li><b><a href="http://www.top.coop">Top Coop, Chicago, IL</a></b>
  
  </li>

  <li><b><a href="http://www.remarkable-capital.com">Tunnels and Tobio, Middleton, WI</a></b>
  
  </li>

  <li><b><a href="http://ujamaafreedommarket.wordpress.com/">Ujamaa Freedom Market, Asheville, NC</a></b>
  
  </li>

  <li><b><a href="https://www.facebook.com/VillageTrough">Village Trough, Berea, KY</a></b>
  
  </li>

  <li><b>Wellspring Upholstery  Cooperative, Springfield, MA</b>
  
  </li>

  <li><b><a href="http://www.ayardandahalf.com/">Yard and a Half Landscaping, Waltham, MA</a></b>
  
  </li>

</ul>








</div>
    <div class="changes" id="rep-cds">

  
<h2>Cooperative Directory Service, <a href="http://coopdirectory.org">coopdirectory.org</a></h2>


    <p>The Coop Directory Service is an online source of information about natural food co-ops and buying clubs. It is is dedicated to the memory of Kris Olsen (1946-1998) and his life-long effort to introduce people to natural food co-ops and assist them in starting buying clubs.</p>


<p>There are 430 entries in this directory.</p>



<h3>Recent additions</h3>


<ul>

  <li><b><a href="http://coopdirectory.org/directory.htm#Louisiana_New_Orleans_Food_Co-op">New Orleans Food Co-op, Louisiana</a></b>
  
  - Open 7 am to 10 pm daily
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Arizona_Sierra_Vista_Food_Cooperative_">Sierra Vista Food Cooperative , Arizona</a></b>
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#South_Dakota_Breadroot_Natural_Foods_Co-op">Breadroot Natural Foods Co-op, South Dakota</a></b>
  
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#California_Placerville_Natural_Food_Co-op">Placerville Natural Food Co-op, California</a></b>
  
  </li>

</ul>







<h3>Recent updates</h3>

<ul>

  <li><b><a href="http://coopdirectory.org/directory.htm#Colorado_Valley_Food_Co-op">Valley Food Co-op, Colorado</a></b>
  <ul>
  
    
    
  
    
    
  
    
    
       
          <li>Address: 3211 Main Street Suite G → 3211 Main Street</li>
       
    
    
  
    
    
       
          <li>Address2: Suite G</li>
       
    
    
  
    
    
       
          <li>Web Address: <a href="www.valleyfood.coop">www.valleyfood.coop</a></li>
       
    
    
  
  
  </ul>
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Michigan_Sturgeon_River_Co-op">Sturgeon River Co-op, Michigan</a></b>
  <ul>
  
    
    
  
    
    
  
    
    
       
          <li>TypeOfAddress: mailing</li>
       
    
    
  
    
    
       
          <li>Address: 8469 Mentor Road → P.O. Box 555</li>
       
    
    
  
    
    
       
          <li>WorkPhone: 2135258419 → 231-758-4725</li>
       
    
    
  
    
    
       
       <li>FaxNumber: removed</li>
       
    
    
  
    
    
       
          <li>Email Address: yourcoop@localnet.com → <a href="mailto:'sturgeonriverco@gmail.com'">sturgeonriverco@gmail.com</a></li>
       
    
    
  
  
  </ul>
  </li>

  <li><b><a href="http://coopdirectory.org/directory.htm#Utah_The_Community_Food_Co-op_of_Utah:_Crossroads_Urban_Center">The Community Food Co-op of Utah: Crossroads Urban Center, Utah</a></b>
  <ul>
  
    
    
       
          <li>Note: As of 2014, the website that was listed for this is no longer valid. A resident wrote to suggest https://thecommunitycoop.org/pages/home or http://www.utahcoop.org/ (thanks Sandra!)</li>
       
    
    
  
  
  </ul>
  </li>

</ul>




</div>
    <div class="changes" id="rep-findcoop">

  
<h2>Stone Soup Directory, <a href="http://find.coop">find.coop</a></h2>


    <p>This is a directory developed by the DCC to serve those who don't have their own directory, and to pool listings between communities that permit that.</p>


<p>There are 6076 entries in this directory.</p>



<h3>Recent additions</h3>


<ul>

  <li><b><a href="http://find.coop/organizations/6120">JUST Community Market Co-operative Ltd.</a></b>
  
  - Marketing producer co-op in Manitoba, Canada. 

Grows food following Canadian Organic Regime production guidelines. Sells produce, culinary and medicinal herbs, and bedding plants locally at farmers' markets, events and directly to customers in Winnipeg and rural Manitoba. Also sells to local restaurants and organic food outlets.

Supports the arts and is developing a marketplace for producers in the areas of music, visual arts, crafts, as well as writers.

Supports alternative economies and is developing a network of ethical and green business services.
  
  </li>

  <li><b><a href="http://find.coop/organizations/6121">New Orleans Food Co-op</a></b>
  
  - Open 7 am to 10 pm daily. 
  
  </li>

</ul>










</div>
    
    
    <div class="changes" id="rep-hourworld">

  
<h2>hOurworld, <a href="http://hourworld.org">hourworld.org</a></h2>


    <p>hOurworld is a worker owned co-op that offers free access to software for timebanks across the US and UK. hOurworld staff partner with local community timebanks and co-train with them. They hope to thread the time economy into the co-op economy!</p>


<p>There are 186 entries in this directory.</p>



<h3>Recent additions</h3>


<ul>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1194">Yes I Can Sir! (WI 53563)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1199">Rogue Valley Growers  Crafters Market (OR 97501)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1202">Annandale and Eskdale Time banks (UK DG11 2AA)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1195">MVTimeExchange (MA 02539)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1196">Time 2 Trade (UK B71 1PH)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1201">Portobello Timebank (UK EH15 1AU)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1192">Aanchal Womens Aid (UK IG1 1LG)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1198">timeBanking/Lamoni (IA 50140)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1197">North Edwards Time Exchange (CA 93523)</a></b>
  
  </li>

  <li><b><a href="https://hourworld.org/bank/index.htm?hw=1203">Fidalgo and Friends Timebank (WA 98221)</a></b>
  
  </li>

</ul>






</div>

