<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>{{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="http://datacommons.find.coop/sites/default/files/favicon_32x32.ico" type="image/vnd.microsoft.icon" />
<link rel="alternate" type="application/rss+xml" title="Data Commons Cooperative RSS" href="{{site.baseurl}}/feed.xml" />
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular&amp;subset=latin" media="all" />
<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/style/main.css" media="all" />
</head>
<body>
<div id="wrapper">

  <div id="header">
    <h1><a href="{{site.baseurl}}/">The Data Commons Cooperative Newsletters</a></h1>
    <a href="{{site.baseurl}}/" class="logo">&nbsp;</a>
  </div>

  <div id="content">
