<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>{{page.title}}{% unless page.top %} | Data Commons Co-op{% endunless %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{{site.baseurl}}/images/dfc/favicon_32x32.ico" type="image/vnd.microsoft.icon" />
<link rel="alternate" type="application/rss+xml" title="Data Commons Cooperative RSS" href="{{site.baseurl}}/rss.xml" />
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular&amp;subset=latin" media="all" />
<link type="text/css" rel="stylesheet" href="{{site.baseurl}}/style/main.css?ver=2" media="all" />
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style/big.css" media="screen and (min-width: 512px)" />
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style/small.css" media="screen and (max-width: 320px)" />
</head>
<body>
<div id="wrapper">

  <div id="header">
    <h1><a href="{{site.baseurl}}/">Data Commons Cooperative</a></h1>
    <a href="{{site.baseurl}}/" class="logo">&nbsp;</a>
    <h2>Connecting the cooperative/solidarity/new economy</h2>
  </div>

  <ul class="menu">
    {% if false %}
    <li class="special"><a href="{{site.baseurl}}/2014/06/20/annual-meeting.html">AGM 2014</a></li>
    {% endif %}
    <li><a href="{{site.baseurl}}/vision/">Vision</a></li>
    <li><a href="{{site.baseurl}}/members/"><span class="minor">Current&nbsp;</span>Members</a></li>
    <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
    <li><a class="give" href="{{site.baseurl}}/donate/">Donate</a></li>
    <li><a class="join" href="http://member.datacommons.coop/applications/new">Join!</a></li>
  </ul>
  
  <div id="content">
