<div class="section intro">

<img src="{{site.baseurl}}/images/dfc/share.jpg" alt="" />

<h2>Share information</h2>
<p>The Data Commons Cooperative is made up of organizations building the cooperative and solidarity economy.  The organizations believe in sharing information with each other -  membership lists, measurements, opportunities -  to give greater strength and resilience to all participating.  Much of the information shared is also openly shared with the public.</p>

<img src="{{site.baseurl}}/images/dfc/create.jpg" alt="" />
<h2>Create tools</h2>
<p>Data Commons members are creating tools to most effectively use shared information.   These include common directories, maps, and databases as well as membership engagement platforms, marketplaces, and tools to embed shared information around the internet.  Tools are licensed as open source, available for anyone to use and improve.</p>

<img src="{{site.baseurl}}/images/dfc/empower.jpg" alt="" />
<h2>Empower members</h2>
<p>Sharing helps the memberships of our organizations make the most of the information concentrated.  Whether they be businesses, consumers, professionals, or activists, information is easier to access, relationships are easier to build, and presence within the movement is easier to maintain.</p>

<img src="{{site.baseurl}}/images/dfc/build.jpg" alt="" />
<h2>Build the movement</h2>
<p>The Data Commons Cooperative membership is made up of mission-driven organizations that are organizing toward a more just and equitable economy.  The movement has passion and reason, but it needs infrastructure.   The shared tools created by the cooperative will make sharing, communicating, and empowering the movement easier, by working together.</p>

</div>
