<div class="section">

  <p>
  Welcome to &ldquo;<a href='/2014/05/22/cooperative-grocer.html'>perhaps the geekiest of all cooperative organizations on the planet</a>!&rdquo;
  The Data Commons Co-op greases the flow of data between communities in
  the cooperative, solidarity, new,
  call-it-what-you-will economy.
  The co-op not only serves these communities, it is owned by them.
  The Data Commons Co-op, like a food or housing co-op, is owned by
  <a href="/members/">its members</a>.
  The members
  have some fundamental differences, and many
  differences of emphasis and priorities.
  But like
  <a href="https://en.wikipedia.org/wiki/Monty_Python%27s_Life_of_Brian#Political_satire">the Judean People's Front, the Judean Popular People's Front,
  the Campaign for a Free Galilee, and the Popular Front of Judea</a>,
  they have a lot in common.
  This co-op is a way to share the cost of tending a commons of
  overlapping data, and realizing the benefits that brings to all.
  </p>

  <p>

  Are you part of a community that should join?  <a href="http://member.datacommons.coop/applications/new">Send in an application</a>.  Dues are on a sliding scale starting at US$100, with waivers for no-budget groups.  You don't have to be a co-op to join.  You don't have to be in the U.S. to join.  You just have to be trying to change how the economy works for the better in your bit of the world, and be interested in pooling knowledge systematically with overlapping communities.  The Data Commons Co-op is committed to <a href="https://en.wikipedia.org/wiki/Rochdale_Principles#Voluntary_and_open_membership">voluntary and open membership</a>, open to all persons able to use its services and willing to accept the responsibilities of membership, without gender, social, racial, political or religious discrimination.
  
  </p>
  
</div>