{% include header.html %}

<h2>{{page.title}}</h2>
<h3>{{page.date | date: "%B %Y"}}</h3>

{% if page.draft %}
{% include draft.html %}
{% endif %}

{% if page.simple %}
<div class="section">
{% endif %}

{{content}}

{% if page.simple %}
</div>
{% endif %}

{% if page.changelog %}

  <h2>Other ChangeLogs</h2>

  <ul class="index">
    {% for post in site.posts %}
      {% if post.changelog %}
      {% unless post.path == page.path %}
      <li>
        <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }} for {{post.date | date: "%B %Y"}}</a></h3>
      </li>
      {% endunless %}
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

{% if page.draft %}
{% include draft.html %}
{% endif %}

<div class="edit">
   <a href="https://github.com/datacommons/datacommons.github.io/blob/master/{{ page.path }}">Edit this post</a>
</div>

{% include footer.html %}
